.section {
    width: 100%;
    margin: 5rem 0 0 0;
    .container__section {
        margin: 0 1rem;
        .container__section--text {
            text-align: center;
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 1.75rem;
                letter-spacing: normal;
                margin: 1.5rem 0;
            }
        }
        .container__section--buttons {
            .container__section--button {
                width: 100%;
                text-align: center;
                padding: 1.25rem 0;

            }
            .container__section--button--sup {
                width: 100%;
                background-color: $light-violet;
                a {
                    color: white;
                }
                margin-bottom: 1rem;
            }
            .container__section--button-inf {
                width: 100%;
                border: 1px solid $light-violet;
            }
        }
        .container__section--percents {
            margin: 5rem auto;
            text-align: center;
            max-width: 185px;
            .percents--text {
                margin: 2rem 0;
                h3 {
                    color: $light-violet;
                    font-size: 3rem;
                }
                p {
                    line-height: 1.4286;
                    letter-spacing: normal;
                    font-size: .875rem;
                }
            }
        }
    }
    .container__video--rounded {
        width: 100vw;
        position: relative;
        .container--rounder {
            width: 97%;
            border-radius: 0 500px 500px 0;
        }
        .youtube__icon {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;
            border-radius: 4px;
            width: 84;
            height: 60;
            background-color: #36c5f0;
            border: none;
        }
    }
    .container__testimonial__text--video {
        padding: 2rem;
        .testimonial__text--video {
            font-weight: 400;
            line-height: 1.417;
            letter-spacing: -.3px;
            margin-top: 0;
            font-size: 1.25rem;
            margin-bottom: 1rem;
            font-style: italic;
        }
        .testimonial--name {
            font-weight: 600;
            margin-bottom: .5rem;
        }
        .testimonial--job {
            margin-bottom: 1.25rem;
        }
        .testimonial--link {
            margin-bottom: 3rem;
            a {
                font-weight: 500;
                font-size: 1.1rem;
                line-height: 1.25;
                color: $link-blue;
            }
        }
        .container__testimonial--advise {
            .testimonial--advise {
                font-size: small;
            }
        }
    }
}